body {
  background-color:white;
}
a {
  color: #778959;
}
a:link {
  color: #778959;
}
a:hover {
  color: #222b13;
}
h1 {
  font-size: 32px;
  text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 28px;
    font-family: Helvetica, Arial, sans-serif;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
    font-family: Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}
h5 {
  font-size: 16px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
h6 {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}

.navbar {
  background-color:white;
}

.navbar-brand {
  color: white;
}
.navbar .navbar-nav>li>a {
  color: #778959;
  background-color:white;
}
.navbar .navbar-nav>li>a:hover {
  color: #222b13;
  background-color:white;
}
.navbar .navbar-nav>.active>a {
  background-color:white;
  color: #778959;
}
.navbar .navbar-nav>.active>a:hover {
  background-color:white;
  color: #222b13;
}
